._pageCalculation{

    
    ._backgroundImage{
        background: url(../img/capa-calculadora.png);
        /* background: url(../img/carbon-wallpaper.jpg); */
        height: 25vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 3rem;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.45); */
    }
    
    .comentarios_pequenos {
        font-size: x-small;
    }
    
    
    .navegacao {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
        
}

footer {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.capa_superior img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    max-height: 390px;
    min-height: 200px;
    
}

.container_calc {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.45);
    max-width: 910px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    color: #333;
}


.titulo {
    text-align: center;
}

._contentTest{
    margin: 0 10%;
    h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: left;
        margin-bottom: 0.5rem;
    }

    h4{
        font-size: 1.5rem;
        font-weight: bold;
        color: rgba(115, 115, 115, 0.715);
        margin-bottom: 2rem;
    }

    p{
        margin-bottom: 1rem;
    }
}


.transporte_container {
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container_calc h3 {
    text-align: center;
    margin-top: 0;
    color: #45a049;
}

.transporte_container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.transporte_container input,
.transporte_container select {
    width: 98%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.botao_calc {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.botao_calc:hover {
    background-color: #45a049;
}

.comentarios_pequenos {
    font-size: x-small;
}

.centralizar_botao {
    text-align: center;
    
}


._cardInfo{
    text-align: center;
    margin: 2rem 10% 0 10%;
    
    img{
        margin-bottom: 20px;
    }
}




._tabela {
    th, tr{
        font-size: 0.7rem;
        
        p{
            font-size: 0.7rem;
        }
    }

th{
    min-width: 10rem;
}

img{
    width: 20px;
    height: 20px;
}
table{
    overflow-x: auto ;
    margin-inline: 5%;
}
}
._tabela {
    max-width: 95%;
    margin: 3rem auto;
    border-radius: 10px;
    font-size: small;
}


td {
    text-align: center;
    vertical-align: auto;
}

th{
    /* width: 60px; */
    text-align: center;
    a{
        width: 100%;
    }
}

.comentarios_pequenos {
    font-size: x-small;
    
}


/* Media ****************************************************************************************************************8*/

@media (max-width:1136px) {
    
    .container_calc{
        margin: 0 10%;
    }
}

/* Medium devices */
@media (max-width: 768px) {
    

    
    ._backgroundImage{
        height: 120px;
    }
    
}
}

