._pageCuriosity{
    
    ._backgroundImage{
        background: url(../img/learning-wallpaper.jpg);
        height: 40vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 3rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    }

    @media (max-width: 768px) {
        ._backgroundImage{
            height: 220px;
        }
    }
}