._pageCuriosity{

    .hidden {
        /* Oculta o elemento */
        /* transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out; */
        opacity: 0; 
        height: 0;
        transition: all 0.3s ease;
        div{
            display: none;
        }
    }
    
    .show {
        /* Mostra o elemento */
        opacity: 1;
        /* transition: all 0.3s ease; */
        font-size: 18px;
        margin-top: 20px;
        transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
        background-color: #f4f4f4;
        height: auto;
        padding: 20px;
        border-radius: 5px;
    }
    
    ._backgroundImage{
        background: url(../img/capa-curiosidade.png);
        /* background: url(../img/learning-wallpaper.jpg); */
        height: 20vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 3rem;
        /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.45); */
    }

    ._contentTest{
        margin: 3rem 10%; 
    
        h2 {
            font-size: 2rem;
            font-weight: bold;
            text-align: left;
            margin-bottom: 0.5rem;
        }
    
        h4{
            font-size: 1.5rem;
            font-weight: bold;
            color: rgba(115, 115, 115, 0.715);
            margin-bottom: 2rem;
        }
    
        p{
            margin-bottom: 1rem;
        }
    
        ._imgCuri{
            width: 500px;
            max-width: 100%;
            border-radius: 10px 10px 0px 0px;
        }

        
        figcaption {
            width: 500px;
            max-width: 100%;
            border-radius: 0px 0px 10px 10px;
            background-color: #222;
            font: italic smaller sans-serif;
            text-align: center;
            color: #fff;
            padding: 3px;
        }
        figure{
            margin: 2rem 0;
        }
        
        ul{
            li{
                margin: 21px auto;
            }
        }

        
        hr{ 
            border-top: 2px solid rgba(0, 0, 0, .1);
        }
    }
    

    ._contentTitle{
        margin: 2rem 10% ; 
        

        h3{
            margin-bottom: 3rem;
        }
        p{
            text-align: center;
            margin-bottom: 10px;
        }
    }

    ._Calculo1{
        background: url(../img/calculo1.png);
        height: 130px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 3rem;
    }
    ._Calculo2{
        background: url(../img/calculo2.png);
        height: 130px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 3rem;
    }
    ._Calculo3{
        background: url(../img/calculo3.png);
        height: 130px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 3rem;
    }

    ._CreditoDeCarbono{
        background: url(../img/Credito-de-carbono.png);
        height: 130px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        margin-bottom: 3rem;
    }

    ._CalculoImg{
        opacity: 0;
        height: 130px;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    ._tabela{
        margin: 2rem 10%;
    }

    a{
        word-break: break-all;
    }

    @media (min-width: 1440px) {

        ._contentTest, ._contentTitle{
            margin: 3rem auto;
            max-width: 1152px;         
        }

        ._Calculo1, ._Calculo2 ,._Calculo3 , ._CreditoDeCarbono, ._CalculoImg {
            height: unset;
        }
    }


    @media (max-width: 768px) {
        ._backgroundImage{
            height: 120px;
        }

        ._contentTitle{
            margin: 0 10%;
        }

        ._Calculo1,._Calculo2,._Calculo3{
            height: 100px;
        }
    }
}