
._backgroundImage{
    background: url(../img/capa-site.jpeg);
    height: 40vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

._title{
    margin-bottom: 3rem;
    div{
        text-align: center;
    }
}

td {
    text-align: center;
}

th{
    a{
        width: 100%;
    }
}

._cardInfo{
    text-align: center;
    margin: 2rem 10% 0 10%;

    img{
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    th{
        font-size: 0.7rem;

        p{
            font-size: 0.7rem;
        }
    }
    img{
        width: 20px;
        height: 20px;
    }
    table{
        overflow-x: auto ;
        margin-inline: 5%;
    }
}