._pageTeam{

        
        ._backgroundImage{
            background: url(../img/capa-criadores.png);
            /* background: url(../img/capa-site.jpeg); */
            height: 20vh;
            width: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-bottom: 3rem;
            /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.45); */
    }

._title{
    margin-bottom: 3rem;
    div{
        text-align: center;
    }
}
    ._gridCards{
        display: grid;
        grid-template-columns: 200px 200px 200px 200px;
        gap: 20px;
        justify-content: space-evenly;
        margin-inline: 40px;
    }

    ._cards{
        width: 200px;
        border-radius: 5px;
        display: block;
        box-shadow: 0px 0px 50px 0px #00000024, 25px 25px 50px #E3E3E3 inset;
    }   

    ._cards:hover{
        transition: ease-in-out 0.3s;
        box-shadow: 0px 0px 60px 10px rgba(0,0,0,0.1);
        transform: scale(1.08);
        transition: all 0.5s;
        position: sticky;
                
        ._titleCards{
            width: 205px;
        }
        
        ._contacts{
            background: linear-gradient(-45deg, rgba(221, 187, 45, 0.314), rgba(2, 195, 105, 0.314), rgba(45, 136, 221, 0.314), rgba(2, 192, 195, 0.314));
            background-size: 400% 400%;   
            animation: Gradient 5s ease infinite;  
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

            ._contactsLogoIsta, ._contactsLogoGit, ._contactsLogoLinkdin{
                color: rgb(255, 255, 255);
            }
        }
    }

    ._cards:not(hover){
        transition: ease-in-out 0.3s;
        transform: scale(1.0);
        transition: all 0.5s;
        
        ._contacts{
            transition: ease-in-out 0.3s;
        }
    }


    ._imgCards{
        /* width: 200px; */
        /* height: 200px; */
        /* border-radius: 5px 5px 0 0; */
        width: 160px;
        height: 160px;
        border-radius: 50%;
        margin: 20px 20px 0px 20px;
    }
    
    ._titleCards{
        text-align: center;
        margin: 10px 0;
        width: 200px ;
    }
    
    ._contacts{
        background-color: rgba(177, 178, 179, 0.314);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        margin-bottom: -1rem;
        
        padding: 5px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%;
        margin-inline: 10%;
    }
    
    ._contactsLogoIsta, ._contactsLogoGit, ._contactsLogoLinkdin{
        border-radius: 5px;
    }
    
    ._contactsLogoIsta, ._contactsLogoGit, ._contactsLogoLinkdin:not(:hover){
        color: rgb(161, 162, 163);
    }
    ._contactsLogoIsta:hover{
        transition: ease-in-out 0.3s;
        color: rgb(255, 255, 255);
        background: #833ab4;
        background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
    }

    ._contactsLogoGit:hover{
        transition: ease-in-out 0.3s;
        color: rgb(255, 255, 255);
        background: rgb(0, 0, 0);
    }
    
    ._contactsLogoLinkdin:hover{
        transition: ease-in-out 0.3s;
        color: rgb(255, 255, 255);
        background: rgb(14, 118, 168);
    }
    
    @media (max-width: 1024px) {
        ._gridCards{
            grid-template-columns: 200px 200px;
        }
        ._cards{
            margin-bottom: 3rem;
        }
    }

    @media (max-width: 768px) {
        ._backgroundImage{
            height: 120px;
        }
        
    }
    
    @media (max-width: 520px) {
        ._gridCards{
            grid-template-columns: 200px;
        }

    }
    
    @media (min-width: 1024px) {
        section{
            margin-bottom: 6rem;
        }
    }
    
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}