@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

.mobile{
    display: none;
}

.desktopComponents, .mobileComponents{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 30px;

    .mark_imgText {
        height: 30px;
        display: flex;
        gap: 20px;
    }
    .options{
        display: flex;
        gap: 20px;
        align-items: center;
        
        .option{
            color: rgb(128, 128, 128);
            margin: 0;
        }
        .option:hover{
            color: rgb(0, 0, 0);
        }
        
        .icon{
            width: 20px;
            height: 20px;
            color: rgb(128, 128, 128);
        }
        .icon:hover{
            color: black;
        }
    
    }
    
}   
.close{
    display: none;
}
.open{
    display: flex;
    .options_menu{
        display: block;
        background: rgb(255, 255, 255);
        border: rgb(209 213 219) 1px solid;
        padding: 10px 0;
        display: block;
        position: absolute;
        margin-left: 280px;
        p{
            padding: 5px 20px;
            text-decoration: none;
            color: rgb(0, 0, 0);
        }
        p:hover{
            background-color: rgba(209, 213, 219, 0.25);
        }
    }
}
header {
    background: rgb(248, 249, 250);
    box-shadow: 0px 10px 32px 0px rgba(0,0,0,0.1);
    position: sticky;   
    top: 0; 
}

.mark{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 25px;
}

.logo{
    width: 2.2rem;
    height: 2.2rem;
}


@media (max-width: 768px) {
    .desktopComponents{
        justify-content: space-between;    
    }
    .options_menu{
        margin-left: 0;
        right: 10px;
    }
}

@media  (max-width: 425px) {


    .desktop{
        display: none;
    }
    .mobile{
        display: block;
        height: 100%;
    }
    .mobileComponents{
        justify-content: space-between;
    }
    
    .options_menuMobile{
        display: grid;
        gap: 10px;
        padding: 10px 10px 20px 10px ;
    }

    .options_menuMobile hr{
        margin: 0;
    }

    .options_menuMobile a{
        text-decoration: none;
        color: rgb(0, 0, 0);
    }

    .icon{
        width: 25px;
        height: 25px;
    }
}